.projectSection-menu{
    /* height: 99vh; */
    border-left: 1px solid black;

display: flex;
flex-direction: column;
align-items: flex-start;
padding: 15.9px;
padding-top: 15px;
margin: 0px  8px 2px 2px;

background: #F3E8FF;
border-radius: 0px 21.2px 21.2px 0px;

    
}

.projectsection-logo{
    display: flex;
  
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


}

.projectSection-logo-icon{
  
width: 52.84px;
height: 52.84px;
left: 30px;
top: 81.84px;


}
.projectsection-logo-text{
position: relative;
width: 134.37px;
height: 54.35px;
left: 10px;
top: 5px;
margin-left: 2px;

font-family: 'Plus Jakarta Sans';
font-style: normal;
font-weight: 800;
font-size: 37.7432px;
line-height: 48px;
color: #7E22CE;
}


.projectsection-header1{
 
display: flex;
flex-direction: row;
align-items: center;
padding: 23.85px 21.2px;
gap: 13.25px;

width: 245.2px;
height: 60px;

border-radius: 132.5px;

flex: none;
/* order: 1; */
align-self: stretch;
flex-grow: 0;


}
.projectsection-header-text{
  
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 15.9px;
width: 178px;
height: 27px;
flex: none;
order: 0;
flex-grow: 0;
}


.projectsection-header1-text p{
width: 248px;
height: 27px;

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 18.55px;
line-height: 26px;
letter-spacing: 0.1325px;

color: #49454F;


flex: none;
order: 0;
flex-grow: 0;


}

.projectsection-menu-header2{
    display: flex;
    flex-direction: column;
    gap:5px;
    
}



.projection-menu-header2-last{

width: 124.5px;
height: 27px;

font-family: 'Roboto';
font-style: normal;
font-weight: 600;
font-size: 18.55px;
line-height: 26px;
margin: 10px auto;

letter-spacing: 0.1325px;
padding-top: 5px;
color:black;

flex: none;
order: 1;
flex-grow: 1;
}
.projectsection-menu-header2:visited, .projectsection-menu-header2:active{
    color: black;
}

.projectsection-menu-header2-icon{

width: 31.8px;
height: 31.8px;

flex: none;
order: 0;
flex-grow: 0;
color: white;
background-color: rgb(110, 107, 107);
border-radius: 50%;
display: flex;
justify-content: center;
align-items: center;
}

.projectsection-menu-header2-icon div{
display: flex;
justify-content: center;
align-items: center;
}

.projectsection-menu-header2-l1{
  
display: flex;
flex-direction: row;
align-items: center;
padding: 21.2px 31.8px 21.2px 21.2px;
gap: 15.9px;

width: 350.2px;
height: 60px;

flex: none;
order: 0;
align-self: stretch;
flex-grow: 1;

}

.projectdection-menu-header2{

display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 15.9px;

width: 445.2px;
height: 74.2px;
border-radius: 132.5px;
margin: 8px 2px;
flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;

}

projectSection-menu .active{
    background-color: #7E22CE;
    
}
projectSection-menu .active .projectsection-menu-header2-icon{
    background-color: black;
}

a{
    text-decoration: none;

}



.menu-bottom-setting{
    position: absolute;
    height: 2em;
    bottom: 0px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    gap: 1em    ;
    border: 1px solid transparent;
background: #F3E8FF;

}



.menu-setting-icon{
    border-radius: 50%;
    height: 1.5em;
    width: 1.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(123, 121, 121);
    background-color: rgb(230, 226, 226);
}