.projectsBox{
    padding: 15px;
}


.projects-upload-title{

font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 50px;
line-height: 25px;
margin-top: 40px;
margin-left: 10px;
color: #7E22CE;
}

.projects-fileList{
    margin-top: 25px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap:10px;
}
